.page-404 {
  text-align: center;
  margin: 90px auto 50px auto;
  &__heading {
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;
  }
  &__btn {
    display: inline-block;
    margin-top: 18px;
  }
}

@media (max-width: 1023px) {
  .page-404 {
    max-width: 644px;
    margin: 50px auto;
    &__img {
      width: 100%;
    }
    &__heading {
      font-size: 20px;
    }
    &__btn {
      display: block;
      font-size: 14px;
    }
  }
}
