.about-us__banner-1,
.about-us__banner-2,
.about-us__banner-3,
.about-us__banner-4 {
  position: relative;
  color: #000000;
  width: 261px;
  height: 325px;
  border-radius: 16px;
}

.about-us {
  &__banner-1 {
    background-image: url(../img/about-us-1.svg);
  }
  &__banner-2 {
    background-image: url(../img/about-us-2.svg);
  }
  &__banner-3 {
    background-image: url(../img/about-us-3.svg);
  }
  &__banner-4 {
    background-image: url(../img/about-us-4.svg);
  }
  &__content-on-bottom {
    position: absolute;
    bottom: 20px;
    left: 25px;
    right: 25px;
  }
  &__content-on-top {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
  }
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
  &__desc {
    margin-top: 10px;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .about-us__banner-1,
  .about-us__banner-2,
  .about-us__banner-3,
  .about-us__banner-4 {
    margin: 0 auto;
  }
}
