.article-detail {
  &__container {
    margin-bottom: 60px;
    & p {
      margin: 24px 0;
    }
    & img {
      display: block;
      width: 100%;
      margin: 30px 0;
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 32px;
  }
  &__func {
    margin-top: 16px;
    height: 46px;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-fs-btn {
    display: flex;
    align-items: center;
  }
  &__fs-btn {
    width: 35px;
    height: 35px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
  }
  &__text-to-speech {
    margin-top: 16px;
    height: 67px;
    background: rgba(176, 220, 147, 0.35);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 28px;
  }
  &__play-btn {
    cursor: pointer;
  }
  &__seek-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 43px;
  }
  &__time-number {
    font-weight: 700;
  }
  &__input-range {
    width: 80%;
    margin-left: 16px;
  }
  &__ads-box {
    width: 546px;
    padding: 23px 28px 28px 28px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__ads-img {
    margin: 0 !important;
    width: 84px !important;
  }
  &__ads-info {
    margin-left: 15px;
  }
  &__ads-heading {
    font-weight: 700;
  }
  &__ads-discount {
    margin-left: 30px;
    padding: 1px 16px;
    background: #9eb23b;
    border-radius: 23px;
    color: #fff;
    font-size: 14px;
  }
  &__ads-uses {
    font-weight: 700;
    color: #9b9999;
    margin-top: 8px;
  }
  &__ads-price {
    margin-top: 8px;
  }
  &__ads-current-price {
    font-weight: 700;
    font-size: 14px;
    color: #f40000;
  }
  &__ads-original-price {
    font-size: 12px;
    text-decoration-line: line-through;
    color: #a8a8a8;
  }
  &__ads-cart-btn {
    position: absolute;
    right: 21px;
    bottom: 17px;
  }
  &__ads-heart-btn {
    position: absolute;
    right: 21px;
    top: 21px;
    cursor: pointer;
  }
  &__suggest-heading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 26px;
  }
  &__show-more {
    &-btn {
      font-weight: 700;
      font-size: 14px;
      color: #7fb640;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__list-share-btn,
  &__show-more {
    margin-top: 26px;
    display: flex;
    flex-direction: row-reverse;
  }
  &__share-btn {
    width: 100%;
    height: 44px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  &__zalo-share-btn {
    margin-right: 32px;
    background: #1b95e0;
  }
  &__facebook-share-btn {
    background: #1257be;
  }
  &__share-icon {
    margin-right: 6px;
  }
  &__related-heading {
    margin-top: 68px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
  }
  &__related-post-heading {
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
    cursor: pointer;
  }
  &__related-post-img {
    cursor: pointer;
  }
  &__quick-view {
    padding: 10px 0 10px 24px;
    border-left: 2px solid #eeeeee;
    & ul {
      margin-top: 12px;
    }
    & li {
      margin-top: 16px;
      font-size: 14px;
    }
  }
  &__quick-view-heading {
    font-weight: 700;
    font-size: 20px;
  }
  &__quick-view-active {
    font-weight: 700;
    color: #7fb640;
  }
}

.mobile-article-detail {
  &__quick-view {
    padding: 14px 18px 22px 18px;
    background: #f9fdcb;
    border-radius: 8px;
    & li {
      margin-top: 16px;
    }
  }
  &__quick-view-heading {
    font-weight: 700;
  }
  &__quick-view-active {
    font-weight: 700;
    color: #7fb640;
  }
  &__quick-view-children {
    margin-left: 16px;
  }
}

@media (max-width: 1023px) {
  .article-detail {
    &__container {
      margin-bottom: 48px;
    }
    &__heading {
      font-size: 20px;
    }
    &__func {
      font-size: 14px;
    }
    &__text-to-speech {
      height: 50px;
      padding-left: 8px;
      padding-right: 18px;
    }
    &__play-btn {
      width: 42px;
      height: 42px;
    }
    &__seek-time {
      margin-left: 8px;
    }
    &__time-number {
      font-size: 12px;
    }
    &__input-range {
      width: 68%;
      margin-left: 8px;
    }
    &__ads-box {
      width: 100%;
      padding: 38px 16px 48px 16px;
    }
    &__ads-price {
      margin-top: 4px;
    }
    &__ads-cart-btn {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
    &__ads-discount {
      position: absolute;
      top: 13px;
      right: 11px;
    }
    &__ads-heart-btn {
      display: none;
    }
    &__share-btn {
      height: 32px;
      font-size: 12px;
    }
    &__zalo-share-btn {
      margin-right: 12px;
    }
    &__share-icon {
      width: 22px;
    }
    &__related-heading {
      margin-top: 68px;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
    }
    &__related-post-heading {
      font-weight: 600;
      font-size: 14px;
      margin-top: 16px;
      cursor: pointer;
    }
    &__related-post-img {
      width: 100%;
    }
    &__quick-view {
      padding: 10px 0 10px 24px;
      border-left: 2px solid #eeeeee;
      & ul {
        margin-top: 12px;
      }
      & li {
        margin-top: 16px;
        font-size: 14px;
      }
    }
    &__quick-view-heading {
      font-weight: 700;
      font-size: 20px;
    }
    &__quick-view-active {
      font-weight: 700;
      color: #7fb640;
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .article-detail {
    &__input-range {
      width: 80%;
    }
  }
}
