@media (max-width: 1023px) {
  .banner-mobile {
    position: relative;
    &__img {
      width: 100%;
    }
    &__heading {
      position: absolute;
      top: 36px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      font-size: 20px;
      width: 300px;
      text-align: center;
      color: #479063;
    }
    &__btn {
      position: absolute;
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
      padding: 6px 20px;
      background: #fff;
      border-radius: 32px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      color: #7fb640;
    }
  }

  .banner-mobile-slider {
    margin: 0 auto;
    max-width: 644px;
    & .swiper-pagination-bullet {
      background-color: transparent;
      border: 1px solid #fff;
      opacity: 1;
    }
    & .swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .banner-mobile {
    padding: 0 20px;
    &__img {
      border-radius: 8px;
    }
  }
}
