.breadcrumb-background {
  overflow: hidden;
  position: relative;
  height: 171px;
  background: #f9fdcb;
  display: flex;
  align-items: center;
  &__title {
    font-weight: 700;
    font-size: 32px;
  }
  &__desc {
    margin-top: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__not-current-page {
    display: flex;
    align-items: center;
    &::after {
      content: url(../icon/angle-right.svg);
      font-weight: 700;
      margin: 0 12px;
    }
  }
  &__current-page {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  &__img {
    position: absolute;
    top: -60px;
    right: 60px;
  }
}

@media (max-width: 740px) {
  .breadcrumb-background {
    margin-top: 9px;
    &__title {
      font-size: 28px;
    }
    &__img {
      top: -8px;
      right: -86px;
    }
  }
}
