.cart-confirm {
  &__box {
    font-weight: 700;
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 36px 28px;
    & select {
      -webkit-appearance: none;
      appearance: none;
      background-image: url('../icon/angle-down.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 18px) center;
    }
  }
  &__title:not(:first-child) {
    margin-top: 36px;
    font-weight: 700;
  }
  &__input-text,
  &__select {
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 32px;
    padding: 12px 14px;
    margin-top: 4px;
  }
  &__input-label {
    font-size: 12px;
  }
  &__address-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    color: #7fb640;
    fill: #7fb640;
    border: 1px solid #7fb640;
    border-radius: 8px;
    margin-top: 20px;
    &:not(:first-child) {
      margin-left: 6px;
    }
    &-selected {
      background: #7fb640;
      color: #fff;
      fill: #fff;
    }
  }
  &__payment-list {
    margin-top: 22px;
  }
  &__payment-box {
    display: flex;
    align-items: center;
    border: 1px solid #7fb640;
    border-radius: 8px;
    padding: 18px 88px 18px 14px;
    font-weight: 700;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  //   &__payment-radio {
  //   }
  &__payment-img {
    margin: 0 32px;
  }
  &__payment-desc {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
  }
  &__payment-selected {
    color: #ffffff;
    background: #7fb640;
  }
}

.cart-confirm__payment-box input[type='radio']:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #eeeeee;
}

.cart-confirm__payment-box input[type='radio']:checked:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #a3d234;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 4px solid #fff;
}

@media (max-width: 640px) {
  .cart-confirm {
    &__box {
      border: none;
      padding: 0;
    }
    &__title:not(:first-child) {
      margin-top: 26px;
    }
    &__payment-box {
      padding: 10px 12px;
    }
    &__payment-img {
      margin: 0 16px;
    }
    &__payment-tile {
      font-size: 14px;
    }
    &__payment-desc {
      font-size: 12px;
      font-weight: 400;
      margin-top: 4px;
    }
    &__payment-selected {
      color: #ffffff;
      background: #7fb640;
    }
  }

  .cart-confirm__payment-box input[type='radio']:after {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #eeeeee;
  }

  .cart-confirm__payment-box input[type='radio']:checked:after {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #a3d234;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #fff;
  }
}
