.cart {
  &__back-to-shopping {
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.3s;
    fill: #333949;
    &:hover {
      cursor: pointer;
      //   color: #7fb640;
      //   fill: #7fb640;
    }
  }
  &__body {
    margin-top: 28px;
    margin-bottom: 60px;
  }
  &__back-icon {
    margin-right: 12px;
  }
  &__heading {
    font-weight: 700;
    font-size: 32px;
    margin-top: 12px;
  }
  &__amount {
    margin-top: 18px;
  }
  &__list-product {
    border: 1px solid #efefef;
    border-radius: 8px;
  }
  &__list-product-header {
    height: 50px;
    background: #f3f3f3;
    border-radius: 8px 8px 0px 0px;
  }
  &__list-product-title {
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: 700;
  }
  &__product-item {
    border-bottom: 2px solid #efefef;
    padding: 25px;
  }
  &__product-box {
    display: flex;
    align-items: center;
  }
  &__product-checkbox {
    margin-top: -16px;
    margin-right: 24px;
    & .checkmark {
      border: 1px solid #dadada;
    }
  }
  &__product-info {
    margin-left: 20px;
  }
  &__product-category {
    font-size: 12px;
  }
  &__product-name {
    font-weight: 700;
    margin: 6px 0;
  }
  &__up-down {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__price-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__current-price {
    font-weight: 700;
    font-size: 14px;
    color: #7fb640;
  }
  &__original-price {
    margin-top: 8px;
    font-size: 12px;
    color: #a8a8a8;
    text-decoration-line: line-through;
  }
  &__delete-btn {
    fill: #333949;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      fill: #7fb640;
    }
  }
  &__list-product-footer {
    font-size: 14px;
    padding: 12px 30px;
    background: #b0dc93;
    border-radius: 0px 0px 8px 8px;
  }
  &__buy-more-btn {
    font-weight: 700;
    color: #288ad6;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__summary-box {
    font-size: 14px;
    padding: 38px 16px 22px 16px;
    border: 1px solid #efefef;
    border-radius: 8px;
  }
  &__summary-heading {
    font-size: 18px;
    font-weight: 700;
  }
  &__summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    position: relative;
  }
  &__discount-down-icon {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 24px;
    // height: 24px;
    position: absolute;
    bottom: 14px;
    left: 189px;
    cursor: pointer;
  }
  &__discount-input {
    width: 220px;
    margin-right: 8px;
    border: 1px solid #efefef;
    border-radius: 32px;
    padding: 10px;
  }
  &__discount-btn {
    padding: 10px 18px;
    background: #7fb640;
    border-radius: 32px;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  &__discount-dropdown {
    width: 220px;
    height: 180px;
    margin-top: 8px;
    border: 1px solid #efefef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 11px 0 11px 21px;
    &-inner {
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
        height: 66px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #dfdfdf;
      }
    }
  }
  &__summary-order {
    padding-bottom: 24px;
    border-bottom: 1px solid #efefef;
  }
  &__total-price {
    margin-top: 32px;
    padding-top: 18px;
    border-top: 1px solid #efefef;
  }
}

.voucher {
  margin-right: 21px;
  height: 49px;
  border: 1px solid #2e2e2e;
  border-radius: 8px;
  display: flex;
  position: relative;
  cursor: pointer;
  &:not(:first-child) {
    margin-top: 12px;
  }
  &__inner {
    margin-left: 15px;
    border-left: 1px dashed #333949;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 13px;
    font-weight: 600;
    font-size: 12px;
  }
  &::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 14px;
    background: #fff;
    border: 1px solid #000000;
    border-left: 0;
    border-radius: 0 9999px 9999px 0;
  }
  &::after {
    content: '';
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 14px;
    background: #fff;
    border: 1px solid #000000;
    border-right: 0;
    border-radius: 9999px 0 0 9999px;
  }
}

@media (max-width: 740px) {
  .mobile-cart {
    // &__list-product {
    //   margin-top: 18px;
    // }
    &__product-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: 18px;
      }
    }
    &__product-item-left {
      display: flex;
      align-items: center;
    }
    &__delete-btn {
      margin-right: 10px;
    }
    &__product-item-right {
      text-align: center;
    }
    &__amount-btn-minus,
    &__amount-btn-plus {
      font-weight: 700;
      font-size: 18px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 25px;
      background: #efefef;
      cursor: pointer;
    }
    &__amount-btn-minus {
      margin-right: 12px;
      border-radius: 4px 0px 0px 4px;
    }
    &__amount-btn-plus {
      margin-left: 12px;
      border-radius: 0px 4px 4px 0px;
    }
  }
  .cart__product-info {
    margin-left: 10px;
  }
  .cart__current-price {
    margin-top: 14px;
  }
  .cart__list-product-footer {
    margin-top: 24px;
    padding: 12px 10px;
  }
  .cart__discount-btn {
    font-size: 10px;
  }
}
