.footer {
  &__list-title {
    // align-items: center;
    margin-bottom: 25px;
  }
  &__title {
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
  }
  &__big-title {
    margin-top: 8px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
  }
  &__content {
    margin-bottom: 16px;
  }
  &__col-1 {
    margin-top: 25px;
    & li {
      display: flex;
      align-items: center;
      font-weight: 600;
    }
    & li:not(:first-child) {
      margin-top: 20px;
    }
    & img {
      margin-right: 10px;
    }
  }
  &__col-2,
  &__col-3 {
    position: relative;
    & li {
      margin-top: 16px;
    }
  }
  &__listen-to-you {
    font-weight: 600;
  }
  &__btn {
    display: inline-block;
    margin-top: 20px;
  }
  &__list-social {
    display: flex;
    align-items: center;
    margin-top: 18px;
  }
  &__social-logo {
    margin-left: 6px;
    width: 32px;
  }
  &__social-logo:first-child {
    margin-left: 10px;
  }
  &__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    border-top: 1px solid #eeeeee;
  }
  &__support {
    text-align: center;
    &-title {
      font-weight: 700;
      font-size: 20px;
      color: #7fb640;
    }
    &-desc {
      font-size: 12px;
      color: #b5b5b5;
    }
  }
}

.collapsible__btn {
  position: absolute;
  right: 30px;
  top: 6px;
  &.rotate {
    transform: rotateX(180deg);
  }
}

@media (max-width: 740px) {
  .footer-mobile {
    &__payment {
      margin: 21px 0;
    }
    &__call {
      margin-top: 68px;
      display: flex;
      align-items: center;
    }
    &__call-info {
      margin-left: 6px;
      text-align: center;
    }
    &__number {
      font-weight: 700;
      font-size: 20px;
      color: #7fb640;
    }
    &__working-time {
      margin-top: 2px;
      font-size: 12px;
      color: #b5b5b5;
    }
    &__follow-us {
      width: 100%;
      margin-top: 22px;
      text-align: center;
    }
    &__list-follow-icon {
      margin-top: 22px;
      padding: 0 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__follow-icon {
      width: 52px;
    }
    &__copyright-text {
      width: 100%;
      margin-top: 27px;
      margin-bottom: 60px;
      text-align: center;
    }
  }
}
