.forgot-password {
  &__heading {
    font-weight: 700;
    font-size: 20px;
  }
  &__input {
    margin-top: 38px;
    width: 547px;
  }
  &__btn {
    display: inline-block;
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .forgot-password {
    &__input {
      width: 100%;
    }
    &__btn {
      font-size: 14px;
      padding: 10px 24px;
    }
  }
}
