.list-media {
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 90px;

  &.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  &__logo:not(:first-child) {
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
  }

  &__logo:not(:last-child) {
    padding-right: 15px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1023px) {
  .list-media {
    margin-bottom: 40px;
  }
}
