.list-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 90px;
  &__logo:not(:first-child) {
    border-left: 1px solid #eaeaea;
    padding-left: 15px;
  }
}

@media (max-width: 740px) {
  .list-media {
    overflow-x: auto;
  }
  .list-media::-webkit-scrollbar {
    display: none;
  }
}
