.register-agent {
  margin: 30px 73px;
  text-align: center;
}

.register-agent-btn {
  text-align: center;
  margin-bottom: 80px;
}

@media (max-width: 740px) {
  .register-agent {
    margin: 30px 0;
  }
}
