.successful-message {
  width: 690px;
  margin: auto;
  border-radius: 8px;
  background: #fff;
  padding: 88px 110px 62px 110px;
  text-align: center;
  position: relative;
  &__close-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    fill: #333949;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      fill: #7fb640;
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 28px;
    margin-top: 55px;
  }
  &__desc {
    margin-top: 18px;
  }
}

@media (max-width: 640px) {
  .successful-message {
    width: 100%;
    padding: 24px 44px;
    &__close-icon {
      width: 20px;
      height: 20px;
      top: 14px;
      right: 12px;
    }
    &__heading {
      font-size: 20px;
      margin-top: 16px;
    }
  }
}
